body {
    height: 100vh;
    width: 100vw;
    background-image: url(../images/yi_poro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#main-container {
    margin:auto;
    width: 80%;
    height: 80%;
    text-align: center;
}
#image {
    margin: auto;
    width: 322px;
    background-color: black;
    text-align: center;
    color: white;
    border-radius: 10px;
    padding-bottom: 2px;
}

#image:hover {
    cursor:pointer;
}


#info {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    padding: 12px;
    text-align: center;
    color: black;
    margin-top: 10px;
}

form {
    padding-top: 20px;
}

#input {
    margin-bottom: 30px;
}

@media screen {
    body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    }    
}